<% content_for :title, "Inicio" %>


<div class="row">
  <div class="span3">
    <p><%= image_tag("/lania2.jpg") %></p>  

    
  </div>
  <div class="span6 hero-unit">
    <h1><u>Kalité</u></h1>
      <h3>Herramienta automatizada de Revisiones Técnicas Formales</h3>
  </div>
</div>




