<% content_for :title, "Inicio" %>

<div class="row">
  <div class="span6 hero-unit">
    <h1><u>Kalité</u></h1>
      <h3>Herramienta automatizada de Revisiones Técnicas Formales</h3>
  </div>
</div>




